{% extends 'user_registration/base.html' %}
{% load static %}
    {% block description %}change{% endblock%}
    {% block robots %}index, follow {% endblock %}
    {% block keywords %}Chanage Password, Quiz Application{% endblock %}
    {% block title %}Home{% endblock %}
    {% block body %}

    {% include "includes/error.html" %}

    
<section class="change-password">
    <h1 class="title">Change Password Here!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ password_form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
</section>
{% endblock body %}