{% extends "user_registration/base.html" %}
{% load static %}
    {% block description %}You can login to quiz application from here{% endblock%}
    {% block robots %}index, follow {% endblock %}
    {% block keywords %}Login, Quiz Application{% endblock %}
    {% block title %}Login{% endblock %}
    {% block body %}

    {% include "includes/error.html" %}
        

        <h1 class="title">Please Login!</h1>
    <form action="{% url 'user_registration:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" value="Login">
    </form>
    </section>
    {% endblock %}