{% extends 'user_registration/base.html' %}
{% load static %}
    {% block description %}Updae user profile quiz application {% endblock %}
    {% block robots %}index, follow{% endblock %}
    {% block keywords %}Update Profile, Quiz Application{% endblock  %}
    {% block title %}Update profile{% endblock  %}
    {% block body %}

    <h1 class="title">Update your profile {{ user.first_name }}</h1>
    <form action="" method='POST'>
        {% csrf_token %}
        {{ user_form.first_name.label_tag }}
        {{ user_form.first_name }}
        {{ user_form.last.label_tag }}
        {{ user_form.last_name }}
        {{ info_form.address.label_tag }}
        {{ info_form.address }}
        {{ info_form.phone.label_tag }}
        {{ info_form.phone }}
        <input type="submit" value='Update'>

    </form>

    {% endblock %}